@use "../../styles/variables" as *;
.navbar{
    display: flex;
    background: $primary;
    padding: 10px;
    ul{
        list-style: none;
        display: flex;
        margin-bottom: 0;
        ul{
            display: flex;
            margin-left: auto;
            margin-bottom: 0;
           li a,li div{
            color: $card;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 600;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            margin: auto;
            cursor: pointer;
            svg{
                display: flex;
                margin: auto;
                  font-size: 20px;
            }
            &:hover{
                color: $secondary;
                transition: all 0.5;
            }
           }
        }
    }
    .brand{
        font-size: 35px;
        font-weight: 600;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}